cloud_id                 = "abcd7rb93cj5rjsdlxyz"
folder_id                = "abcf67o53kg106nnlxyz"
zone                     = "ru-central1-a"
service_account_key_file = "/path/to/key.json"
service_account_id       = "ajeg6idc4bse5kf9rrl8"
node_service_account_id  = "ajeg6idc4bse5kf9rrl8"
network                  = "enpjlnuvtd95spau8g2k"
channel                  = "RAPID"
master_version           = "1.19"
