cloud_id                 = "abcd7rb93cj5rjsdlxyz"
folder_id                = "abcf67o53kg106nnlxyz"
zone                     = "ru-central1-a"
image_id                 = "abce735lripa9mhgjxyz"
public_key_path          = "~/.ssh/some_public_key.pub"
private_key_path         = "~/.ssh/some_private_key"
subnet_id                = "subnetid"
service_account_key_file = "/path/to/key.json"
scale                    = "2"
disk_size                = "40"
